{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body style="background-image: url('{% static 'image/bookk.jpg' %}');" class="card-image">
<div class="card"  style="margin-top:2em;">
   <div class="card-header">
    </div>
    <div class="card-body">
    <h1 style="font-family:'Times New Roman', serif; text-align:center;font-size: 45px;font-weight: bold; color: #333;">Signup</h1>
    </div>
    <form method="post" style="max-width:12px; margin-top:2em;">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn btn-outline-success;">Submit</button>
    </form>
</div>
</body>
</html>